html, body {
    overflow-x: hidden; 
    margin: 0; 
}

.wrapper {
    display: flex; 
    height: 100vh; 
}

section {
    flex: 1 1 auto; 
    overflow: auto; 
    background-color: rgb(223, 245, 255);
    height: 100vh;
}

.content {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

nav {
    flex: 0 0 auto; 
    width: calc(200px + 8vw);
    min-width: 200px;
    height: 100vh; 
    background: #c5ddd8;
}

nav li {
    list-style: none; 
    text-align: center; 
}

nav ul {
    padding-left: 0; 
    margin-left: 0; 
}

nav h2 {
    font-family: 'Open Sans', serif;
    font-weight: 100; 
    font-size: calc(23px + 1vw); 
    color: #497b70; 
    margin: 5px 0 20px 0; 
    text-align: center; 
}

nav img {
    margin: 10px 0 10px 80px; 
}

a {
    text-decoration: none; 
    color: #686880;
}

a:hover {
    color: #b26247; 
}

nav a {
    color: #577354; 
    font-size: 15px; 
    font-family: 'Roboto condensed', sans-serif;
    letter-spacing: 2px; 
    line-height: 55px; 
    word-spacing: 1px;
    text-decoration: none;  
}

.box0,
.box1, 
.box2, 
footer {
    padding: 0 15vw 0 15vw; 
    min-width: 400px;
}

.box0 {
    flex: 1 0 auto;
    background-color: rgba(241,224,241,0.74);
}

.box1 {
    flex: 1 0 auto; 
    background-color: rgb(223, 245, 255);
    padding-bottom: 20px; 
}

.box2 {
    flex: 1 0 auto; 
    background-color: rgb(227, 255, 245);
    padding-bottom: 20px; 
}

footer {
    background-color: #a6bbc7;
    flex-shrink: 0;
}

p, .smallText {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 15px; 
    letter-spacing: 1px; 
    word-spacing: 2px; 
    line-height: 2em; 
    color: black; 
}

.smallText {
    line-height: 2.5em; 
}

h2 {
    font-family: 'Open Sans', serif;
    font-weight: 100;
    font-size: 60px;
    color: black;
    text-align: center;
    margin: 20px 0 20px 0;
}

h3 {
    font-family: 'Open Sans', serif;
    font-weight: 100; 
    font-size: 40px; 
    color: black; 
    text-align: center; 
    margin: 20px 0 20px 0;
}

h4 {
    text-align: center;
    font-family: "Indie Flower", serif;
    font-size: 70px;
    margin: 0;
}

footer p {
    line-height: 1em;
    font-family: 'Roboto condensed', sans-serif;
    font-size: 12px; 
    letter-spacing: 1px;
    word-spacing: 2px; 
    color: black; 
}

.bilde {
    width: 100%;
    max-width: 700px; 
    padding: 0; 
    margin-bottom: 10px;
    box-shadow: 0 1px 2px 0;
}

.logo {
    margin-top: 10px; 
    margin-left: 22.5%; 
    margin-right: 22.5%; 
    width: 55%; 
    margin-bottom: 0; 
}

.forsidebilde {
    width: 100%; 
    min-width: 600px; 
}

#forside {
    margin-bottom: 0; 
    padding-bottom: 0; 
}

#forside p {
    padding-bottom: 0; 
    padding-top: 10px; 
}

#forside h3 {
    margin-top: 50px; 
}
